body{
	background: lightblue;
	height: 100%;
	width:100%;
	.container{
		width:80%;
		background: lightgray;
		border:2px solid rgba(15, 54, 2, 0.9);
		margin: 1% 10% 0% 10%;
		text-align: center;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		h1{
			color:rgba(15, 54, 2, 0.9);
			text-shadow: 2px 2px 5px rgba(212, 212, 212, 0.9);
		}
	}
	.lessons{
		display:flex;
		.lessonEx{
			border-radius: 5px;
			width: 20%;
			height: 443px;
			margin: 4% 0 1% 4%;
			border: 2px solid rgba(15, 54, 2, 0.9);
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
			background: lightgray;
			h1,h2{
				//padding-left:15px;
				text-align: center;
			}
			p{
				margin: 10px;
				text-align: center;
			}
			#first,#third,#second {
				margin:10px;
				border: 3px solid darkgray;
				padding: 40px;
				background-color: white;
			}
			#wrapper {
				margin-left:20px;
				p{
					width:60px;
					height:60px;
					background: green;
					float:left;
					margin:5px;
				}
			}
		}
		#preventDefault{
			#nameInput {
				margin:20px 10px;
			}
		}
		.verifyingForm{
			margin:10px;
			background:lightblue;
			padding:10px 0 10px 0;
			border:2px solid whitesmoke;
			.conditions{
				text-align: center;
				margin:1% 10%;
				color:whitesmoke;
				text-shadow:2px 2px 3px rgba(0, 0, 0, 0.9);
			}
			.veriField{
				margin: 1% 10% 1% 20%;
				text-align:center;
			}
		}
		.eventProp{
			text-align: center;
			.evPropDesc {
				height: 60%;
				width: 85%;
				border: 1px solid blue;
				margin:10px 0 0 20px; 
				text-align: left;
				padding:10px 0px 0 10px;
			}
			#button1{
				margin-top:10px;
			}
			#descriptionMouseEvProp{
				font-size: 16px;
				//height: 70%;
			}
		}
		.mouseOnOver{
			.squares {
				margin: 50px 0 0 80px;
				width: 150px;
				height: 150px;
				background-color: #f0166d;
				border-radius: 5px;
			}
		}
		.mouseEvents{
			.wrap{
				overflow: hidden;
				margin: 20px 10px 10px 18px;
				border-radius: 5px;
				#one{
					float:left;
					display: block;
					background-color: #7f0b47;
					height: 100px;
					width:100px;
				}
				#two{
					float:left;
					display: block;
					height: 100px;
					width:100px;
					background-color: #0b7f5d;
				}
				#three{
					float:left;
					display: block;
					height: 100px;
					width:100px;
					background-color: #0b3c7f;
				}
			}
			
		}
		.wrap{

			#output{
				overflow: hidden;
				height: 270px;
				margin: 20px 10px 10px 18px;
				border-radius: 5px;
			}	
			
		}
		
	}

}