body{
	background-color: rgba(47, 150, 88, 0.64);
	height: 100%;
	width:100%;
	.container{
		width:80%;
		background: lightgray;
		border:2px solid rgba(15, 54, 2, 0.9);
		margin: 1% 10% 0% 10%;
		text-align: center;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
		h1{
			color:rgba(15, 54, 2, 0.9);
			text-shadow: 2px 2px 5px rgba(212, 212, 212, 0.9);
		}
	}
	.lessons{
		display:flex;
		.lessonEx{
			border-radius: 5px;
			width: 20%;
			height: 443px;
			margin: 4% 0 1% 4%;
			border: 2px solid rgba(15, 54, 2, 0.9);
			box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
			background: lightgray;
			h1,h2{
				//padding-left:15px;
				text-align: center;
			}
			p{
				margin: 10px 20px;
				//text-align: center;
			}
			textarea {
				margin:0 27px;
			}
		}
	}

}